<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">

  <servers>
    <server>
      <id>release</id>
      <username>your-aws-access-key-id</username>
      <password>your-aws-secret-access-key</password>
    </server>
    <server>
      <id>snapshots</id>
      <username>your-aws-access-key-id</username>
      <password>your-aws-secret-access-key</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>release</id>
          <name>S3 Release Repository</name>
          <url>s3://project-capstone/release/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>S3 Snapshot Repository</name>
          <url>s3://project-capstone/snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <distributionManagement>
        <repository>
          <id>release</id>
          <name>S3 Release Repository</name>
          <url>s3://project-capstone/release/</url>
        </repository>
        <snapshotRepository>
          <id>snapshots</id>
          <name>S3 Snapshot Repository</name>
          <url>s3://project-capstone/snapshots/</url>
        </snapshotRepository>
      </distributionManagement>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>

</settings>